<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <script>
        var offline=(location.href.indexOf('docs.unity3d.com')==-1)?true:false;if(!offline){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);  })(window,document,'script','dataLayer','GTM-5V25JL6');}
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fore Documentation</title>
    <meta property="og:image" content="https://unity3d.com/files/images/ogimg.jpg">
    <meta name="author" content="Cher Don">
    <link rel="shortcut icon" href="../static/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" href="../static/images/favicons/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="../static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="../static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="../static/images/favicons/apple-icon.png">
    <meta name="msapplication-TileColor" content="#222c37">
    <meta name="msapplication-TileImage" content="../static/images/favicons/ms-icon-144x144.png">
    <script type="text/javascript" src="https://docs.unity3d.com/StaticFilesConfig/UnityVersionsInfo.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js?ts=1591328552"></script>
    <script type="text/javascript" src="../static/js/core.js?ts=1591328552"></script>
    <script type="text/javascript" src="../docdata/toc.js?ts=1591328552"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css?ts=1591328552">
    <link rel="stylesheet" href="../static/css/prism.css">
    <script src="../static/js/prism.js"></script>
    <script src="../static/js/jquery.sidebar.min.js"></script>
    <link rel="stylesheet" href="../static/css/mobileoptimisation.css">
    <script src="../static/js/mobileoptimisation.js"></script>
</head>
<body>
<div class="header-wrapper">
    <div id="header" class="header">
        <div class="content">
            <div class="spacer">
                <div class="menu">
                    <div id="nav-open" for="nav-input"><span></span></div>
                    <div class="logo"><a href="Documentation.html"></a></div>
                    <div class="search-form">
                        <form action="30_search.html" method="get" class="apisearch">
                            <input type="text" name="q" placeholder="Search documentation..." autosave="Unity Reference"
                                   results="5" class="sbox field" id="q"><input type="submit" class="submit">
                        </form>
                    </div>
                    <ul>
                        <li><a href="Documentation.html" class="selected">Documentation</a></li>
                        <li><a href="Tutorials.html">Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="more">
                <div class="filler"></div>
                <ul>
                    <li><a href="../index.html">Go to website</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="content">
            <div class="toggle version-number" id="VersionNumber" data-target=".otherversionscontent">
                Version: <b>1.0.1</b>
                <div class="otherversionscontent" id="OtherVersionsContent" style="display: none;">
                    <ul id="OtherVersionsContentUl"></ul>
                    <div id="otherVersionsLegend">
                        <ul>
                            <li>
                                <div id="supportedColour" class="legendBox"></div>
                                Supported
                            </li>
                            <li>
                                <div id="notFoundColour" class="legendBox"></div>
                                Legacy
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="VersionSwitcherArrow" class="arrow versionSwitcherArrow"></div>
            </div>
            <div class="lang-switcher">
                <div class="current toggle" data-target=".lang-list">
                    <div class="lbl">Language
                        : <span class="b">English</span>
                    </div>
                    <div class="arrow"></div>
                    <div class="lang-list" style="display:none;">
                        <ul>
                            <li><a href="Documentation.html">English</a></li>
                            <li><a href="Documentation.html">中文</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobileLogo"><a href="Documentation.html"></a></div>
</div>
<div id="master-wrapper" class="master-wrapper clear">
    <div id="sidebar" class="sidebar">
        <div class="sidebar-wrap">
            <div class="content">
                <div class="sidebar-menu">
                    <div class="toc" id="customScrollbar">
                        <h2>Fore Documentation</h2>
                        <div class="search-form sidebar-search-form">
                            <form action="30_search.html" method="get" class="apisearch">
                                <input type="text" name="q" placeholder="Search documentation..." autosave="Unity Reference"
                                       results="5" class="sbox field" id="q"><input type="submit" id="mobileSearchBtn"
                                                                                    class="submit" value="Search">
                            </form>
                        </div>
                        <div class="toggle version-number sidebar-version-switcher" id="VersionNumber"
                             data-target=".otherversionscontent">
                            <form id="otherVersionsContentMobileForm">
                                <div class="ui-field-contain">
                                    <label for="select-native-4">Version: 1.0.1</label><select name="select-native-4"
                                                                                                id="versionsSelectMobile">
                                    <option>Select a different version</option>
                                    <optgroup id="versionsWithThisPageMobile"
                                              label="Versions with this page"></optgroup>
                                    <optgroup id="versionsWithoutThisPageMobile"
                                              label="Versions without this page"></optgroup>
                                </select>
                                </div>
                            </form>
                        </div>
                        <div class="lang-switcher">
                            <div class="current toggle" data-target=".lang-list">
                                <div class="lbl">Language
                                    : <span class="b">English</span>
                                </div>
                                <div class="arrow"></div>
                                <div class="lang-list" style="display:none;">
                                    <ul>
                                        <li><a href="Documentation.html">English</a></li>
                                        <li><a href="Documentation.html">中文</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Content -->
    <div id="content-wrap" class="content-wrap">
        <div class="content-block">
            <div class="content">
                <div class="section">
                    <div class="breadcrumbs clear">
                        <ul>
                            <li> Fore Documentation (1.0.1)</li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <div class="nextprev clear">
                            <div class="icon tt left mr1" data-distance="-40|-30|top">
                                <span class="prev"><a href="Documentation.html"></a></span>
                                <div class="tip"> Fore Documentation (1.0.1)</div>
                            </div>
                            <div class="icon tt right" data-distance="-40|-30|top">
                                <span class="next"><a href="Documentation.html"></a></span>
                                <div class="tip"> Fore Documentation (1.0.1)</div>
                            </div>
                        </div>
                    </div>
                    <div id="_leavefeedback"></div>
                    <h1>Fore Documentation (1.0.1)</h1>
                    <!--BeginSwitchLink--><!--EndSwitchLink-->
                    <div class="clear"></div>

                    <br>

                    <p>The Fore Documentation helps to guide you on how to use the simulation program, inclusive of world generation and scenario simulation. <br>You may use it as a reference, or simply read it from the start to the end.</p>

                    <p>If this is the first time you are using the simulation program, take a look at the introductory tutorials at <a
                            href="Tutorials.html">Tutorials Page</a>, and see the <a
                            href="SettingUp.html">Setting Up Instructions</a>.</p>

                    <div class="frontpage-topsection">

                        <p><strong>New</strong></p>

                        <ul>
                            <li>Features introduced in 1.0.1: <a href="#">Changelog</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="frontpage-topsection">

                        <p><strong>Packages</strong></p>

                        <ul>
                            <li>Learn about packages: <a href="Packages.html">Working with the Package Manager</a>
                            </li>
                            <li>Find documentation for a specific package: <span class="tooltip"><a
                                    href="pack-safe.html">Verified packages</a><span class="tooltiptext">When a package passes release cycle testing for a specific version of Unity, it receives the <em>Verified For</em> designation. This means that these packages are guaranteed to work with the designated version of Unity. <br/><span
                                    class="tooltipGlossaryLink">See in <a
                                    href="Glossary.html#Verifiedpackage">Glossary</a></span></span></span> and <span
                                    class="tooltip"><a href="pack-preview.html">Preview packages</a><span
                                    class="tooltiptext">A <em>preview</em> package is in development and not yet ready for production. A package in preview might be at any stage of development, from the initial stages to near completion.<br/><span
                                    class="tooltipGlossaryLink">See in <a
                                    href="Glossary.html#Previewpackage">Glossary</a></span></span></span></li>
                            <li>Learn how to build a custom package: <a href="CustomPackages.html">Creating custom
                                packages</a>
                            </li>
                        </ul>
                    </div>
                    <div class="frontpage-topsection">

                        <p><strong>Best practice and expert guides</strong></p>

                        <ul>
                            <li>Best practices from Unity Support engineers: <a href="BestPracticeGuides.html">Best
                                Practice Guides</a>
                            </li>
                            <li>Expert guides from Unity developers, in their own words: <a href="ExpertGuides.html">Expert
                                Guides</a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="clear"></div>
                    <div class="frontpage-divider"></div>

                    <h3>Useful Sections</h3>
                    <div class="frontpage-section">
                        <a href="D_ProjectRepo.html"><img src="../static/images/graphics/dl-project.png"></a>

                        <h3><a href="D_ProjectRepo.html">Download Project</a></h3>

                        <p>Downloading project files for installation</p>
                    </div>
                    <div class="frontpage-section">
                            <a href="Tutorials.html"><img src="../static/images/graphics/tutorials.png"></a>
    
                            <h3><a href="Tutorials.html">Tutorials</a></h3>
    
                            <p>Step-by-step video tutorials</p>
                        </div>
                    <div class="frontpage-section">
                            <a href="D_ProceduralBuildingHeight.html"><img src="../static/images/graphics/building-height.png"></a>
    
                            <h3><a href="D_ProceduralBuildingHeight.html">Custom Building Height</a></h3>
    
                            <p>How to change the building height for Procedural Buildings</p>
                        </div>
                    <div class="frontpage-section">
                        <a href="D_PedestrianSimulationSetupAgent.html"><img src="../static/images/graphics/set-agent.png" alt="Main.UNet"></a>

                        <h3><a href="D_PedestrianSimulationSetupAgent.html">Setting Up Agents</a></h3>

                        <p>Setting up the agents in Pedastrian Simulation</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_VehicleSimulationCarpark.html"><img src="../static/images/graphics/carpark.png" alt="Main.UNet"></a>

                        <h3><a href="D_VehicleSimulationCarpark.html">Carpark Simulation</a></h3>

                        <p>Simulate carpark entry and other behaviours</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_AssetLibraryStreetLighting.html"><img src="../static/images/graphics/street-light.png" alt="Main.UNet"></a>

                        <h3><a href="D_AssetLibraryStreetLighting.html">Building Street Lighting</a></h3>

                        <p>How to build street lighting based on the asset library</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_PreparingEnvironmentProbuilderizing.html"><img src="../static/images/graphics/probuilder.png" alt="Main.UNet"></a>

                        <h3><a href="D_PreparingEnvironmentProbuilderizing.html">Probuilderize</a></h3>

                        <p>How to use Probuilder for the framework</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_PedestrianSimulationAgentBehaviours.html"><img src="../static/images/graphics/agent-behaviour.png" alt="Main.UNet"></a>

                        <h3><a href="D_PedestrianSimulationAgentBehaviours.html">Configuring Agent Behaviours</a></h3>

                        <p>Changing how pedastrians behave in the simulation</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_VehicleSimulationBends.html"><img src="../static/images/graphics/bends.png" alt="Main.UNet"></a>

                        <h3><a href="D_VehicleSimulationBends.html">Vehicle Turning</a></h3>

                        <p>Making vehicles turn around a bend with state model</p>
                    </div>
                    <div class="frontpage-section">
                        <a href="D_ProceduralBuildingImport.html"><img src="../static/images/graphics/import-unity.png" alt="Main.UNet"></a>

                        <h3><a href="D_ProceduralBuildingImport.html">Import Building</a></h3>

                        <p>Import Procedural Building to Unity upon completion</p>
                    </div>
                    <!-- <div class="frontpage-section">
                        <a href="Unity2D.html"><img src="uploads/Main/struct2d.jpg" alt="Main.Unity2D"></a>

                        <h3><a href="Unity2D.html">Unity 2D</a></h3>

                        <p>All of the Unity Editor’s 2D-specific features including gameplay, <span
                                class="tooltip"><strong>sprites</strong><span class="tooltiptext">A 2D graphic objects. If you are used to working in 3D, Sprites are essentially just standard textures but there are special techniques for combining and managing sprite textures for efficiency and convenience during development. <a
                                href="Sprites.html">More info</a><br/><span class="tooltipGlossaryLink">See in <a
                                href="Glossary.html#Sprite">Glossary</a></span></span></span> and physics.</p>
                    </div> -->
                    <div class="clear"></div>

                    <p><br></p>

                    <h3>Further sources of information</h3>

                    <ul>
                        <li><p>
                            <a href="https://docs.unity3d.com/Manual/index.html">Unity Documention</a> or <a
                                href="https://forum.unity3d.com/">Unity Forums</a> - here you can refer to usages or 
                            search answers related to the platform.</p></li>
                        <li><p>
                            <a href="http://docs.polarith.com/ai/">PolarithAI Documentation</a> - how to use and parameters included
                            in the actual simulation.</p></li>
                        <li><p>
                            <a href="https://unity-technologies.github.io/procore-legacy-docs/probuilder/probuilder2-gh-pages/">ProBuilder Documentation</a> - guide on how to use ProBuilder
                            and interesting features.</p></li>
                        <li><p>
                            <a href="https://www.easyroads3d.com/v3/html/getting_started.html">EasyRoads Documentation</a> - generation of roads around the model,
                            and making them realistic.</p></li>
                        <li><p>
                            <a href="Tutorials.html">Tutorials</a> - step by step video and written
                            guides to using the simulation engine.</p></li>
                        <!-- <li><p> -->
                                <!-- <span class="tooltip">
                                    <strong>Asset Store</strong>
                                    <span class="tooltiptext">A growing library of free and commercial assets created by Unity and members of the community. Offers a wide variety of assets, from textures, models and animations to whole Project examples, tutorials and Editor extensions. 
                                        <a href="AssetStore.html">More info</a>
                                        <br/>
                                        <span class="tooltipGlossaryLink">See in <a href="Glossary.html#AssetStore">Glossary</a>
                                        </span>
                                    </span>
                                </span> -->
                        <!-- </li> -->
                    </ul>

                    <h3>Known issues</h3>

                    <p>Is a feature not working as you expect it to? It might be an existing Known Issue. Please check
                        using the <strong>Issue Tracker</strong> on <a href="https://github.com/cherdon/four/issues">GitHub</a>.
                    </p>
                    <!-- area:none -->
                    <div id="_content"></div>
                    <div class="nextprev clear">
                        <div class="icon tt left mr1" data-distance="-40|-30|top">
                            <span class="prev"><a href="Documentation.html"></a></span>
                            <div class="tip"> Fore Documentation (1.0.1)</div>
                        </div>
                        <div class="icon tt right" data-distance="-40|-30|top">
                            <span class="next"><a href="Documentation.html"></a></span>
                            <div class="tip"> Fore Documentation (1.0.1)</div>
                        </div>
                    </div>
                </div>
                <div class="footer-wrapper">
                    <div class="footer clear">
                        <div class="copy"></div>
                        <div class="menu">
                            <a href="Tutorials.html">Tutorials</a>
                            <a href="FAQ.html">FAQ</a>
                            
                        </div>
                    </div>
                </div>
                <script src="../static/js/special.js"></script>
            </div>
        </div>
    </div>
    <!-- End Content -->


</div>
</body>
</html>
